<%= render "partials/header" %>
  <div id="page">
   <div id="page-bgtop">
    <div id="page-bgbtm">
     <div id="content">
    <div class="flash-message">
    <% flash.each do |key,value| %>
    <p><%= value %></p>
    <% end %>
    </div>
     <%= yield %><!--main view-->

      
      <div style="clear: both;"></div>
     </div><br>
     <!-- end #content -->
  
     <%= render "partials/sidebar" %>
     

    </div>
   </div>
  </div>
  <!-- end #page-->
  <div id="footer">
   <p>2013, My Ruby Blog - Sample Project</p>
  </div>
  <!-- en #footer-->
 </div>
 <!-- end #wrapper-->

  </body>
</html>
